<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lxx.demo"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="16" />

    <!-- 获取联系人时，所需获得的权限 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!-- 拨打电话权限 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Sherlock.Light.DarkActionBar" >
        <activity android:name="com.lxx.activitiy.Main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.lxx.leftandrightslidingmenuandtabsdemo.LeftAndRightMenuAndTabsMainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.PageIndicatorDefaults" >
            <intent-filter>
                <action android:name="leftandrightslidingmenuandtabsdemo" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.lxx.fragmentbottomdemo.BottomMainActivity" >
            <intent-filter>
                <action android:name="fragmenttabhostdemo" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.lxx.pagerslidingtabstripdemo.PagersSlidingTabStripMainActivity2" >
            <intent-filter>
                <action android:name="pagerslidingtabstripdemo2" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.lxx.pagerslidingtabstripdemo.PagersSlidingTabStripMainActivity" >
            <intent-filter>
                <action android:name="pagerslidingtabstripdemo" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.lxx.getcontactsdemo.GetContactsMainActivity" >
            <intent-filter>
                <action android:name="getcontactsdemo" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.lxx.getcontactsdemo2demo.GetContactsMainActivity2" >
            <intent-filter>
                <action android:name="getcontactsdemo2" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.lxx.indicatorbottomdemo.GuideCirclesActivity" >
            <intent-filter>
                <action android:name="indicatorbottom" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.lxx.circleimageviewdemo.MainActivity" >
            <intent-filter>
                <action android:name="circleimageview" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>